$color-primary: #09d3ac;
$color-secondary: #2196f3;
$color-light: #f7f7f7;
$color-dark: #303846;

$background-primary: #09d3ac;
$background-secondary: #2196f3;
$background-light: #f7f7f7;
$background-dark: #303846;

$font-family-primary: Arial;
$font-family-secondary: 'Oswald', sans-serif;